## Data Science Bootcamp - Assignment 1

Name: **Divya Sai Tirumalasetty**

Net ID: **dt2482**

#### 1. Display Fibonacci Series upto 10 terms

In [2]:
#  Function to generate the Fibonacci series
def fibonacci(n):
    fib_series = []
    a, b = 0, 1
    for i in range(n):
        fib_series.append(a)
        a, b = b, a + b
    return fib_series

# Number of terms to generate
n = 10

# Display the Fibonacci series
fib_series = fibonacci(n)
print("Fibonacci Series up to", n, "terms:")
print(fib_series)

Fibonacci Series up to 10 terms:
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

#### 2. Display numbers at the odd indices of a list

In [3]:
# Function to display numbers at odd indices of a list
def display_odd_indices(numbers):
    odd_indices = []
    for i in range(1, len(numbers), 2):
        odd_indices.append(numbers[i])
    return odd_indices

# Example list
my_list = [10, 20, 30, 40, 50, 60, 70]

# Display numbers at odd indices
odd_indices_list = display_odd_indices(my_list)
print("Numbers at odd indices:", odd_indices_list)

Numbers at odd indices: [20, 40, 60]

#### 3. Print a list in reverse order

In [4]:
# Function to print a list in reverse order
def print_reverse_list(lst):
    reversed_list = lst[::-1]
    for item in reversed_list:
        print(item)

# Example list
my_list = [10, 20, 30, 40, 50]

# Print the list in reverse order
print("List in reverse order:")
print_reverse_list(my_list)

List in reverse order:
50
40
30
20
10

#### 4. Your task is to count the number of different words in this text

In [14]:
# Input text
string = """
ChatGPT has created this text to provide tips on creating interesting paragraphs.
First, start with a clear topic sentence that introduces the main idea.
Then, support the topic sentence with specific details, examples, and evidence.
Vary the sentence length and structure to keep the reader engaged.
Finally, end with a strong concluding sentence that summarizes the main points.
Remember, practice makes perfect!
"""

# Split the text into words by whitespace and punctuation
words = string.split()

# Remove punctuation and convert to lowercase for accurate word counting
words = [word.strip(".,!?'\"") for word in words]
words = [word.lower() for word in words]

# Count the number of unique words
unique_word_count = len(set(words))

# Print the result
print("Number of different words:", unique_word_count)

Number of different words: 47

#### 5. Write a function that takes a word as an argument and returns the number of vowels in the word

In [15]:
def count_vowels(word):
    # Define a set of vowels for easy checking
    vowels = set("aeiouAEIOU")

    # Initialize a variable to count the vowels
    vowel_count = 0

    # Iterate through each character in the word
    for char in word:
        if char in vowels:
            vowel_count += 1

    return vowel_count

# Example usage:
word = "Hello"
result = count_vowels(word)
print("Number of vowels in '{}': {}".format(word, result))

Number of vowels in 'Hello': 2

#### 6. Iterate through the following list of animals and print each one in all caps.

  animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']

In [16]:
animals = ['tiger', 'elephant', 'monkey', 'zebra', 'panther']

for animal in animals:
    print(animal.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

#### 7. Iterate from 1 to 15, printing whether the number is odd or even

In [17]:
for number in range(1, 16):
    if number % 2 == 0:
        print(f"{number} is even")
    else:
        print(f"{number} is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd

#### 8. Take two integers as input from user and return the sum

In [18]:
# Get input from the user for the first integer
input_str1 = input("Enter the first integer: ")

# Convert the input string to an integer
try:
    num1 = int(input_str1)
except ValueError:
    print("Invalid input. Please enter a valid integer.")
    exit()

# Get input from the user for the second integer
input_str2 = input("Enter the second integer: ")

# Convert the input string to an integer
try:
    num2 = int(input_str2)
except ValueError:
    print("Invalid input. Please enter a valid integer.")
    exit()

# Calculate the sum of the two integers
sum_result = num1 + num2

# Print the result
print(f"The sum of {num1} and {num2} is {sum_result}.")

Enter the first integer: 1
Enter the second integer: 6
The sum of 1 and 6 is 7.